*{padding:0;margin:0}

table {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.jog div{
    overflow: auto;
    float: right;
}

td {
    border: 1px solid gray;
    border-right: hidden;
    border-left: hidden;
    border-collapse: collapse;
}

table, th {
    border: 3px solid gray;
    border-right: hidden;
    border-left: hidden;
    border-collapse: collapse;
}

.text_title {
    width: 50%;
    text-align: left;
}

.text_writer {
    width: 20%;
}

.text_date {
    width: 20%;
}

.text_recount {
    width: 10%;
}